<section>
		
		<h3>About Myself</h3>
	
		<div class="face-lockup">

		
			
		<div class="icons-block">

		<a href="" class="icon icon-pencil"></a>
		<a href="" class="icon icon-mouse"></a>
		<div class="face-img"></div>
		<a href="" class="icon icon-browser"></a>
		<a href="" class="icon icon-video"></a>

		</div>

		<div class="content-about-me">
		<p>
			Moje ime je Jovan Aleksić, rođen sam u Pančevu 24 marta 1986 godine. Živim u Kovačici već 30 godina. Završio sam Visoku školu strukovnih studija za informacione i komuinikacione tehnologije u Beogradu. Moje radno iskustvo: je 3god i 6meseci. Od toga 1god i 3meseca radio sam u Pančevu kao serviser računara i prodavac. Nakon toga zaposlio sam se u Kovčici u firmi Roloplast gde sam radio godinu dana kao radnik na CNC mašini i na održavanju računara i mreža. Nakon toga sam veoma kratko (2meseca)radio u silosu u Kovačici kao kontrolor i sonder. Nakon poljoprivrednih poslova potražio sam posao u Beogradu u građevinskoj firmi Velesstroj gde sam radio : 1- na poslovima tehničke razrade i pripreme ruskih projekata, 2-na poslovima sistem administratora, 3- na poslovima vođenja karneta i administrativnih poslova (rad u RF na gradilištu). Tu sam radio 1god i 2 meseca. Nakon rada u inostranstvu (Rusiji), počeo sam da učim programiranje u HTML/CSS-u a nakon 3 meseca učenja počeo sam da radim za jednu firmu u Novom Sadu kao programer i tester.</p>

		</div>

	</div>	


	<div class="skill-lockup">
		<div class="skill-unit">
			<div class="skill-label">Communications</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>		

		<div class="skill-unit">
			<div class="skill-label">Organization</div>
				<div class="skill-icons skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Learning</div>
				<div class="skill-icons skill-5">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Teaching</div>
				<div class="skill-icons skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Planning</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Visual Design</div>
				<div class="skill-icons skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">UX Design</div>
				<div class="skill-icons skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Programming</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span><span></span><span>
					</span><span></span><span></span><span></span><span></span>
				</div>
		</div>
	</div>	

</section>


