<section class="contact-section">
	<div class="contact-belt">
		<h3 id="contact">CONTACT</h3>

		<div class="soc-links-wrapper">
			<div class="soc-link"><i class="fa fa-dribbble" aria-hidden="true"></i></div>	
			<div class="soc-link active-link"><i class="fa fa-twitter" aria-hidden="true"></i></div>	
			<div class="soc-link"><i class="fa fa-behance" aria-hidden="true"></i></div>	
			<div class="soc-link"><i class="fa fa-youtube" aria-hidden="true"></i></div>	
			<div class="soc-link"><i class="fa fa-linkedin" aria-hidden="true"></i></div>	
		</div>

		<div class="email-address">aleksic.jovan.86@gmail.com</div>
	</div>


</section>