<footer>

<div class="lockup">

 <div class="logo"></div>


<div class="content-wrap">
  <nav>
  <a href="#">Home</a>
  <a href="#">Projects</a>
  <a href="#">Gallery</a>
  <a href="#">Contact</a>
  <a href="#">About Us</a>
  </nav>

  <p class="copyright">
  ALL CONTENT COPYRIGHT 2014</p>

  </div>
  
 </div>

</footer>
