<section>
	
	<h3 id="together">LETS WORK TOGETHER</h3>
		
		<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

				<div class="contact_info_group">
					<label><span>Your Name</span>
					<input type="text" name="name"></label>

					<label><span>Your email</span>
					<input type="text" name="reply_to"></label>

				</div>	

			<label><span>Tell me about your project</span>
			<textarea name="message"></textarea></label>

			 <fieldset class="submit-wrap">
			    <input type="submit" value="Send">
			  </fieldset>

		</form>


</section>