<section class="alt-section">
	<h3>WORK</h3>


	<div class="thumb-container">

		<a href="#" class="thumb-unit thumb1">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb2">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb3">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb4">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb5">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb6">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb7">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>

		<a href="#" class="thumb-unit thumb8">

			<div class="thumb-overlay">
				
				<div class="zoom-icon"></div>

			</div>
		</a>




	</div>	


</section>