.contact-belt {
	width:100%;

}

	.soc-links-wrapper {
		position: relative;
		width:750px;
		align-items:center;
		display: flex;
		margin: 0 auto 50px;

	}

		.soc-link {
			font-size:40px;
			color:#b9892d;
			min-width:150px;
			text-align:center;

			&.active-link {
					box-shadow: 0 4px 0 $brand-color;

					}
		}

		.email-address{
			font-size:62px;
			color: #b9892d;
			text-align:center;
			margin:0 auto 50px;

		}
