footer {
   background: url('../img/Hero-BG.jpg') center center;
   background-size:cover;
   height:150px;
   clear:both;


  

    .lockup {
        padding:30px;

    }

    .content-wrap {
        float:left;
        font-size:14px;
        margin-left:10px;
        }
   
    .copyright {
        font-size:12px;

    }

  }  
