<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

     {% include about.html %}

     {% include work.html %}

     {% include clients.html %}

     {% include contact.html %}
    
    {% include form.html %}

    {% include footer.html %}

  </body>

</html>
